* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
}

main {
  background-color: #F5F5F5;
  border-radius: 6px;
  height: 80vh;
  max-width: 800px;
  margin: 0 auto;
}